:host {
  display: block;
  padding: 20px;
  width: calc(100% - 40px);
  background-color: var(--main-color);
  color: white;
  z-index: 999;
  flex-shrink: 0;

  .container {
    justify-content: space-between;
    width: 100%;
  }
}
